export DB_USER=postgres
export DB_PASS=secret
export DB_NAME=corednsdb

# posgres
export DB_TYPE0=postgres
export DB_PORT0=5432

# mysql
export DB_TYPE1=mysql
export DB_PORT1=3306

# mariadb
export DB_TYPE2=mariadb
export DB_PORT2=3307

export DSN0="postgres://${DB_USER}:${DB_PASS}@localhost:${DB_PORT0}/${DB_NAME}?sslmode=disable"
export DSN1="mysql://${DB_USER}:${DB_PASS}@localhost:${DB_PORT1}/${DB_NAME}"
export DSN2="mariadb://${DB_USER}:${DB_PASS}@localhost:${DB_PORT2}/${DB_NAME}"